*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PADDING */

/* VERTICAL PADDING */

.text_deco_none {
  text-decoration: none;
}

.pad-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pad-v-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-v-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-v-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-v-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pad-v-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* HORIZONTAL PADDING */
.pad-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.pad-h-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-h-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-h-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-h-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.pad-h-5 {
  padding-left: 50px;
  padding-right: 50px;
}

/* PADDING RIGHT */

.pad-right-0 {
  padding-right: 0;
}

.pad-right-1 {
  padding-right: 10px;
}

.pad-right-2 {
  padding-right: 20px;
}

.pad-right-3 {
  padding-right: 30px;
}

.pad-right-4 {
  padding-right: 40px;
}

.pad-right-5 {
  padding-right: 50px;
}

/* PADDING LEFT */

.pad-left-0 {
  padding-left: 0;
}

.pad-left-1 {
  padding-left: 10px;
}

.pad-left-2 {
  padding-left: 20px;
}

.pad-left-3 {
  padding-left: 30px;
}

.pad-left-4 {
  padding-left: 40px;
}

.pad-left-5 {
  padding-left: 50px;
}

/* PADDING BOTTOM */

.pad-bottom-0 {
  padding-bottom: 0;
}

.pad-bottom-1 {
  padding-bottom: 10px;
}

.pad-bottom-2 {
  padding-bottom: 20px;
}

.pad-bottom-3 {
  padding-bottom: 30px;
}

.pad-bottom-4 {
  padding-bottom: 40px;
}

.pad-bottom-5 {
  padding-bottom: 50px;
}

/* PADDING TOP */

.pad-top-0 {
  padding-top: 0;
}

.pad-top-1 {
  padding-top: 10px;
}

.pad-top-2 {
  padding-top: 20px;
}

.pad-top-3 {
  padding-top: 30px;
}

.pad-top-4 {
  padding-top: 40px;
}

.pad-top-5 {
  padding-top: 50px;
}

/* FULL PADD */

.pad-full-0 {
  padding: 0;
}

.pad-full-1 {
  padding: 10px;
}

.pad-full-2 {
  padding: 20px;
}

.pad-full-3 {
  padding: 30px;
}

.pad-full-4 {
  padding: 40px;
}

.pad-full-5 {
  padding: 50px;
}

/* END */

/* MARGIN */

/* VERTICAL MARGIN */
.mar-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mar-v-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mar-v-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mar-v-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mar-v-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mar-v-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* HORIZONTAL MARGIN */
.mar-h-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mar-h-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mar-h-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mar-h-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.mar-h-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.mar-h-5 {
  margin-left: 50px;
  margin-right: 50px;
}

/* MARGIN RIGHT */

.mar-right-0 {
  margin-right: 0;
}

.mar-right-1 {
  margin-right: 10px;
}

.mar-right-2 {
  margin-right: 20px;
}

.mar-right-3 {
  margin-right: 30px;
}

.mar-right-4 {
  margin-right: 40px;
}

.mar-right-5 {
  margin-right: 50px;
}

/* MARGIN LEFT */

.mar-left-0 {
  margin-left: 0;
}

.mar-left-1 {
  margin-left: 10px;
}

.mar-left-2 {
  margin-left: 20px;
}

.mar-left-3 {
  margin-left: 30px;
}

.mar-left-4 {
  margin-left: 40px;
}

.mar-left-5 {
  margin-left: 50px;
}

/* MARGIN BOTTOM */

.mar-bottom-0 {
  margin-bottom: 0;
}

.mar-bottom-1 {
  margin-bottom: 10px;
}

.mar-bottom-2 {
  margin-bottom: 20px;
}

.mar-bottom-3 {
  margin-bottom: 30px;
}

.mar-bottom-4 {
  margin-bottom: 40px;
}

.mar-bottom-5 {
  margin-bottom: 50px;
}

/* MARGIN TOP */

.mar-top-0 {
  margin-top: 0;
}

.mar-top-1 {
  margin-top: 10px !important;
}

.mar-top-2 {
  margin-top: 20px;
}

.mar-top-3 {
  margin-top: 30px !important;
}

.mar-top-4 {
  margin-top: 40px;
}

.mar-top-5 {
  margin-top: 50px;
}

/* FULL MARGIN */

.mar-full-0 {
  margin: 0 !important;
}

.mar-full-1 {
  margin: 10px;
}

.mar-full-2 {
  margin: 20px;
}

.mar-full-3 {
  margin: 30px;
}

.mar-full-4 {
  margin: 40px;
}

.mar-full-5 {
  margin: 50px;
}

/* END */

/* WIDTH */
.full-w {
  width: 100%;
}

.med-w {
  width: 75%;
}

.small-w {
  width: 50%;
}

.tiny-w {
  width: 25%;
}

.normal-w {
  width: auto;
}

.w-auto {
  margin: 0 auto;
}

/* END */

/* HEIGHT */
.full-h {
  height: 100%;
}

.med-h {
  height: 75%;
}

.small-h {
  height: 50%;
}

.tiny-h {
  height: 25%;
}

.normal-h {
  height: auto;
}

/* END */

/* BORDER */

.border {
  border: 1px solid #dee2e6;
}

.border-v {
  border-top: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
}

.border-h {
  border-left: solid 1px #dee2e6;
  border-right: solid 1px #dee2e6;
}

.border-b {
  border-bottom: solid 1px #dee2e6;
}

.border-t {
  border-top: solid 1px #dee2e6;
}

.border-l {
  border-left: solid 1px #dee2e6;
}

.border-r {
  border-right: solid 1px #dee2e6;
}

/* END */

/* FONT SIZE */
.f1 {
  font-size: 0.7rem;
}

.f2 {
  font-size: 1rem;
}

.f3 {
  font-size: 1.3rem;
}

.f4 {
  font-size: 1.6rem;
}

.f5 {
  font-size: 1.9rem;
}

/* END */

/* DISPLAY */

.display-none {
  display: none !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

/* END */

/* FLEX BOX */

.flex {
  display: flex;
}

.flex-g0 {
  flex-grow: 0;
}

.flex-g1 {
  flex-grow: 1;
}

.flex-g2 {
  flex-grow: 2;
}

.flex-s1 {
  flex-shrink: 0;
}

.flex-s1 {
  flex-shrink: 1;
}

.flex-s1 {
  flex-shrink: 2;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-nw {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.flex-row-r {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-r {
  flex-direction: column-reverse;
}

.align-center {
  align-content: center;
}

.align-start {
  align-content: flex-start;
}

.align-end {
  align-content: flex-end;
}

.align-space-around {
  align-content: space-around;
}

.align-space-between {
  align-content: space-between;
}

.align-stretch {
  align-content: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-stretch {
  justify-content: stretch;
}

.align-center-i {
  align-items: center;
}

.align-start-i {
  align-items: flex-start;
}

.align-end-i {
  align-items: flex-end;
}

.align-space-around-i {
  align-items: space-around;
}

.align-space-between-i {
  align-items: space-between;
}

.align-stretch-i {
  align-items: stretch;
}

.justify-center-i {
  justify-items: center;
}

.justify-start-i {
  justify-items: flex-start;
}

.justify-end-i {
  justify-items: flex-end;
}

.justify-space-around-i {
  justify-items: space-around;
}

.justify-space-between-i {
  justify-items: space-between;
}

.justify-stretch-i {
  justify-items: stretch;
}

/* END */

/* GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

.column-12 {
  max-width: 100%;
  flex: 0 0 100%;
}

.column-11 {
  max-width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
}

.column-10 {
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
}

.column-9 {
  max-width: 75%;
  flex: 0 0 75%;
}

.column-8 {
  max-width: 66.66666%;
  flex: 0 0 66.66666%;
}

.column-7 {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
}

.column-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.column-5 {
  max-width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
}

.column-4 {
  max-width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
}

.column-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.column-2 {
  max-width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
}

.column-1 {
  max-width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
}

.column-auto {
  width: auto;
  flex: 0 0 auto;
  max-width: 100%;
}

.main-container {
  width: 100%;
  max-width: 1290px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.full-container {
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.jump-1 {
  margin-left: 8.3333333333%;
}

.jump-2 {
  margin-left: 16.6666666667%;
}

.jump-3 {
  margin-left: 25%;
}

.jump-4 {
  margin-left: 33.3333333333%;
}

.jump-5 {
  margin-left: 41.6666666667%;
}

.jump-6 {
  margin-left: 50%;
}

.jump-7 {
  margin-left: 58.3333333333%;
}

.jump-8 {
  margin-left: 66.6666666667%;
}

.jump-9 {
  margin-left: 75%;
}

.jump-10 {
  margin-left: 83.3333333333%;
}

.jump-11 {
  margin-left: 91.6666666667%;
}

.jump-12 {
  margin-left: 100%;
}

/* END */

/* MEDIAS */
@media (max-width: 1320px) {
  .main-container {
    max-width: 1140px;
  }

  .column-xlarge-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .column-xlarge-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }

  .column-xlarge-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }

  .column-xlarge-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .column-xlarge-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%;
  }

  .column-xlarge-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }

  .column-xlarge-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .column-xlarge-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }

  .column-xlarge-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }

  .column-xlarge-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .column-xlarge-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }

  .column-xlarge-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }

  .column-xlarge-auto {
    width: auto;
    flex: 0 0 auto;
    max-width: 100%;
  }

  .jump-xlarge-1 {
    margin-left: 8.3333333333%;
  }

  .jump-xlarge-2 {
    margin-left: 16.6666666667%;
  }

  .jump-xlarge-3 {
    margin-left: 25%;
  }

  .jump-xlarge-4 {
    margin-left: 33.3333333333%;
  }

  .jump-xlarge-5 {
    margin-left: 41.6666666667%;
  }

  .jump-xlarge-6 {
    margin-left: 50%;
  }

  .jump-xlarge-7 {
    margin-left: 58.3333333333%;
  }

  .jump-xlarge-8 {
    margin-left: 66.6666666667%;
  }

  .jump-xlarge-9 {
    margin-left: 75%;
  }

  .jump-xlarge-10 {
    margin-left: 83.3333333333%;
  }

  .jump-xlarge-11 {
    margin-left: 91.6666666667%;
  }

  .jump-xlarge-12 {
    margin-left: 100%;
  }

  .display-xlarge-none {
    display: none !important;
  }

  .display-xlarge-inline {
    display: inline !important;
  }

  .display-xlarge-inline-block {
    display: inline-block !important;
  }

  .display-xlarge-block {
    display: block !important;
  }

  .flex-xlarge {
    display: flex !important;
  }

  .flex-xlarge-g0 {
    flex-grow: 0;
  }

  .flex-xlarge-g1 {
    flex-grow: 1;
  }

  .flex-xlarge-g2 {
    flex-grow: 2;
  }

  .flex-xlarge-s1 {
    flex-shrink: 0;
  }

  .flex-xlarge-s1 {
    flex-shrink: 1;
  }

  .flex-xlarge-s1 {
    flex-shrink: 2;
  }

  .flex-xlarge-w {
    flex-wrap: wrap;
  }

  .flex-xlarge-nw {
    flex-wrap: nowrap;
  }

  .flex-xlarge-row {
    flex-direction: row;
  }

  .flex-xlarge-row-r {
    flex-direction: row-reverse;
  }

  .flex-xlarge-col {
    flex-direction: column;
  }

  .flex-xlarge-col-r {
    flex-direction: column-reverse;
  }

  .align-center-xlarge {
    align-content: center;
  }

  .align-start-xlarge {
    align-content: flex-start;
  }

  .align-end-xlarge {
    align-content: flex-end;
  }

  .align-space-around-xlarge {
    align-content: space-around;
  }

  .align-space-between-xlarge {
    align-content: space-between;
  }

  .align-stretch-xlarge {
    align-content: stretch;
  }

  .justify-center-xlarge {
    justify-content: center;
  }

  .justify-start-xlarge {
    justify-content: flex-start;
  }

  .justify-end-xlarge {
    justify-content: flex-end;
  }

  .justify-space-around-xlarge {
    justify-content: space-around;
  }

  .justify-space-between-xlarge {
    justify-content: space-between;
  }

  .justify-stretch-xlarge {
    justify-content: stretch;
  }

  .align-center-i-xlarge {
    align-items: center;
  }

  .align-start-i-xlarge {
    align-items: flex-start;
  }

  .align-end-i-xlarge {
    align-items: flex-end;
  }

  .align-space-around-i-xlarge {
    align-items: space-around;
  }

  .align-space-between-i-xlarge {
    align-items: space-between;
  }

  .align-stretch-i-xlarge {
    align-items: stretch;
  }

  .justify-center-i-xlarge {
    justify-items: center;
  }

  .justify-start-i-xlarge {
    justify-items: flex-start;
  }

  .justify-end-i-xlarge {
    justify-items: flex-end;
  }

  .justify-space-around-i-xlarge {
    justify-items: space-around;
  }

  .justify-space-between-i-xlarge {
    justify-items: space-between;
  }

  .justify-stretch-i-xlarge {
    justify-items: stretch;
  }

  .pad-xlarge-v-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pad-xlarge-v-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pad-xlarge-v-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pad-xlarge-v-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pad-xlarge-v-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pad-xlarge-v-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* HORIZONTAL PADDING */
  .pad-xlarge-h-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pad-xlarge-h-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pad-xlarge-h-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pad-xlarge-h-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pad-xlarge-h-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pad-xlarge-h-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* PADDING RIGHT */

  .pad-xlarge-right-0 {
    padding-right: 0;
  }

  .pad-xlarge-right-1 {
    padding-right: 10px;
  }

  .pad-xlarge-right-2 {
    padding-right: 20px;
  }

  .pad-xlarge-right-3 {
    padding-right: 30px;
  }

  .pad-xlarge-right-4 {
    padding-right: 40px;
  }

  .pad-xlarge-right-5 {
    padding-right: 50px;
  }

  /* PADDING LEFT */

  .pad-xlarge-left-0 {
    padding-left: 0;
  }

  .pad-xlarge-left-1 {
    padding-left: 10px;
  }

  .pad-xlarge-left-2 {
    padding-left: 20px;
  }

  .pad-xlarge-left-3 {
    padding-left: 30px;
  }

  .pad-xlarge-left-4 {
    padding-left: 40px;
  }

  .pad-xlarge-left-5 {
    padding-left: 50px;
  }

  /* PADDING BOTTOM */

  .pad-xlarge-bottom-0 {
    padding-bottom: 0;
  }

  .pad-xlarge-bottom-1 {
    padding-bottom: 10px;
  }

  .pad-xlarge-bottom-2 {
    padding-bottom: 20px;
  }

  .pad-xlarge-bottom-3 {
    padding-bottom: 30px;
  }

  .pad-xlarge-bottom-4 {
    padding-bottom: 40px;
  }

  .pad-xlarge-bottom-5 {
    padding-bottom: 50px;
  }

  /* PADDING TOP */

  .pad-xlarge-top-0 {
    padding-top: 0;
  }

  .pad-xlarge-top-1 {
    padding-top: 10px;
  }

  .pad-xlarge-top-2 {
    padding-top: 20px;
  }

  .pad-xlarge-top-3 {
    padding-top: 30px;
  }

  .pad-xlarge-top-4 {
    padding-top: 40px;
  }

  .pad-xlarge-top-5 {
    padding-top: 50px;
  }

  /* FULL PADD */

  .pad-xlarge-full-0 {
    padding: 0;
  }

  .pad-xlarge-full-1 {
    padding: 10px;
  }

  .pad-xlarge-full-2 {
    padding: 20px;
  }

  .pad-xlarge-full-3 {
    padding: 30px;
  }

  .pad-xlarge-full-4 {
    padding: 40px;
  }

  .pad-xlarge-full-5 {
    padding: 50px;
  }

  .mar-xlarge-v-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mar-xlarge-v-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mar-xlarge-v-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mar-xlarge-v-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mar-xlarge-v-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .mar-xlarge-v-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* HORIZONTAL MARGIN */
  .mar-xlarge-h-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mar-xlarge-h-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mar-xlarge-h-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mar-xlarge-h-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mar-xlarge-h-4 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mar-xlarge-h-5 {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* MARGIN RIGHT */

  .mar-xlarge-right-0 {
    margin-right: 0;
  }

  .mar-xlarge-right-1 {
    margin-right: 10px;
  }

  .mar-xlarge-right-2 {
    margin-right: 20px;
  }

  .mar-xlarge-right-3 {
    margin-right: 30px;
  }

  .mar-xlarge-right-4 {
    margin-right: 40px;
  }

  .mar-xlarge-right-5 {
    margin-right: 50px;
  }

  /* MARGIN LEFT */

  .mar-xlarge-left-0 {
    margin-left: 0;
  }

  .mar-xlarge-left-1 {
    margin-left: 10px;
  }

  .mar-xlarge-left-2 {
    margin-left: 20px;
  }

  .mar-xlarge-left-3 {
    margin-left: 30px;
  }

  .mar-xlarge-left-4 {
    margin-left: 40px;
  }

  .mar-xlarge-left-5 {
    margin-left: 50px;
  }

  /* MARGIN BOTTOM */

  .mar-xlarge-bottom-0 {
    margin-bottom: 0;
  }

  .mar-xlarge-bottom-1 {
    margin-bottom: 10px;
  }

  .mar-xlarge-bottom-2 {
    margin-bottom: 20px;
  }

  .mar-xlarge-bottom-3 {
    margin-bottom: 30px;
  }

  .mar-xlarge-bottom-4 {
    margin-bottom: 40px;
  }

  .mar-xlarge-bottom-5 {
    margin-bottom: 50px;
  }

  /* MARGIN TOP */

  .mar-xlarge-top-0 {
    margin-top: 0;
  }

  .mar-xlarge-top-1 {
    margin-top: 10px;
  }

  .mar-xlarge-top-2 {
    margin-top: 20px;
  }

  .mar-xlarge-top-3 {
    margin-top: 30px;
  }

  .mar-xlarge-top-4 {
    margin-top: 40px;
  }

  .mar-xlarge-top-5 {
    margin-top: 50px;
  }

  /* FULL MARGIN */

  .mar-xlarge-full-0 {
    margin: 0;
  }

  .mar-xlarge-full-1 {
    margin: 10px;
  }

  .mar-xlarge-full-2 {
    margin: 20px;
  }

  .mar-xlarge-full-3 {
    margin: 30px;
  }

  .mar-xlarge-full-4 {
    margin: 40px;
  }

  .mar-xlarge-full-5 {
    margin: 50px;
  }

  .f1-xlarge {
    font-size: 0.7rem;
  }

  .f2-xlarge {
    font-size: 1rem;
  }

  .f3-xlarge {
    font-size: 1.3rem;
  }

  .f4-xlarge {
    font-size: 1.6rem;
  }

  .f5-xlarge {
    font-size: 1.9rem;
  }

  .full-w-xlarge {
    width: 100%;
  }

  .med-w-xlarge {
    width: 75%;
  }

  .small-w-xlarge {
    width: 50%;
  }

  .tiny-w-xlarge {
    width: 25%;
  }

  .normal-w-xlarge {
    width: auto;
  }

  .full-h-xlarge {
    height: 100%;
  }

  .med-h-xlarge {
    height: 75%;
  }

  .small-h-xlarge {
    height: 50%;
  }

  .tiny-h-xlarge {
    height: 25%;
  }

  .normal-h-xlarge {
    height: auto;
  }
}

@media (max-width: 1024px) {
  .main-container {
    max-width: 960px;
  }

  .column-large-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .column-large-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }

  .column-large-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }

  .column-large-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .column-large-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%;
  }

  .column-large-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }

  .column-large-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .column-large-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }

  .column-large-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }

  .column-large-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .column-large-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }

  .column-large-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }

  .column-large-auto {
    width: auto;
    flex: 0 0 auto;
    max-width: 100%;
  }

  .jump-large-1 {
    margin-left: 8.3333333333%;
  }

  .jump-large-2 {
    margin-left: 16.6666666667%;
  }

  .jump-large-3 {
    margin-left: 25%;
  }

  .jump-large-4 {
    margin-left: 33.3333333333%;
  }

  .jump-large-5 {
    margin-left: 41.6666666667%;
  }

  .jump-large-6 {
    margin-left: 50%;
  }

  .jump-large-7 {
    margin-left: 58.3333333333%;
  }

  .jump-large-8 {
    margin-left: 66.6666666667%;
  }

  .jump-large-9 {
    margin-left: 75%;
  }

  .jump-large-10 {
    margin-left: 83.3333333333%;
  }

  .jump-large-11 {
    margin-left: 91.6666666667%;
  }

  .jump-large-12 {
    margin-left: 100%;
  }

  .display-large-none {
    display: none !important;
  }

  .display-large-inline {
    display: inline !important;
  }

  .display-large-inline-block {
    display: inline-block !important;
  }

  .display-large-block {
    display: block !important;
  }

  .flex-large {
    display: flex !important;
  }

  .flex-large-g0 {
    flex-grow: 0;
  }

  .flex-large-g1 {
    flex-grow: 1;
  }

  .flex-large-g2 {
    flex-grow: 2;
  }

  .flex-large-s1 {
    flex-shrink: 0;
  }

  .flex-large-s1 {
    flex-shrink: 1;
  }

  .flex-large-s1 {
    flex-shrink: 2;
  }

  .flex-large-w {
    flex-wrap: wrap;
  }

  .flex-large-nw {
    flex-wrap: nowrap;
  }

  .flex-large-row {
    flex-direction: row;
  }

  .flex-large-row-r {
    flex-direction: row-reverse;
  }

  .flex-large-col {
    flex-direction: column;
  }

  .flex-large-col-r {
    flex-direction: column-reverse;
  }

  .align-center-large {
    align-content: center;
  }

  .align-start-large {
    align-content: flex-start;
  }

  .align-end-large {
    align-content: flex-end;
  }

  .align-space-around-large {
    align-content: space-around;
  }

  .align-space-between-large {
    align-content: space-between;
  }

  .align-stretch-large {
    align-content: stretch;
  }

  .justify-center-large {
    justify-content: center;
  }

  .justify-start-large {
    justify-content: flex-start;
  }

  .justify-end-large {
    justify-content: flex-end;
  }

  .justify-space-around-large {
    justify-content: space-around;
  }

  .justify-space-between-large {
    justify-content: space-between;
  }

  .justify-stretch-large {
    justify-content: stretch;
  }

  .align-center-i-large {
    align-items: center;
  }

  .align-start-i-large {
    align-items: flex-start;
  }

  .align-end-i-large {
    align-items: flex-end;
  }

  .align-space-around-i-large {
    align-items: space-around;
  }

  .align-space-between-i-large {
    align-items: space-between;
  }

  .align-stretch-i-large {
    align-items: stretch;
  }

  .justify-center-i-large {
    justify-items: center;
  }

  .justify-start-i-large {
    justify-items: flex-start;
  }

  .justify-end-i-large {
    justify-items: flex-end;
  }

  .justify-space-around-i-large {
    justify-items: space-around;
  }

  .justify-space-between-i-large {
    justify-items: space-between;
  }

  .justify-stretch-i-large {
    justify-items: stretch;
  }

  .pad-large-v-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pad-large-v-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pad-large-v-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pad-large-v-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pad-large-v-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pad-large-v-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* HORIZONTAL PADDING */
  .pad-large-h-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pad-large-h-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pad-large-h-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pad-large-h-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pad-large-h-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pad-large-h-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* PADDING RIGHT */

  .pad-large-right-0 {
    padding-right: 0;
  }

  .pad-large-right-1 {
    padding-right: 10px;
  }

  .pad-large-right-2 {
    padding-right: 20px;
  }

  .pad-large-right-3 {
    padding-right: 30px;
  }

  .pad-large-right-4 {
    padding-right: 40px;
  }

  .pad-large-right-5 {
    padding-right: 50px;
  }

  /* PADDING LEFT */

  .pad-large-left-0 {
    padding-left: 0;
  }

  .pad-large-left-1 {
    padding-left: 10px;
  }

  .pad-large-left-2 {
    padding-left: 20px;
  }

  .pad-large-left-3 {
    padding-left: 30px;
  }

  .pad-large-left-4 {
    padding-left: 40px;
  }

  .pad-large-left-5 {
    padding-left: 50px;
  }

  /* PADDING BOTTOM */

  .pad-large-bottom-0 {
    padding-bottom: 0;
  }

  .pad-large-bottom-1 {
    padding-bottom: 10px;
  }

  .pad-large-bottom-2 {
    padding-bottom: 20px;
  }

  .pad-large-bottom-3 {
    padding-bottom: 30px;
  }

  .pad-large-bottom-4 {
    padding-bottom: 40px;
  }

  .pad-large-bottom-5 {
    padding-bottom: 50px;
  }

  /* PADDING TOP */

  .pad-large-top-0 {
    padding-top: 0;
  }

  .pad-large-top-1 {
    padding-top: 10px;
  }

  .pad-large-top-2 {
    padding-top: 20px;
  }

  .pad-large-top-3 {
    padding-top: 30px;
  }

  .pad-large-top-4 {
    padding-top: 40px;
  }

  .pad-large-top-5 {
    padding-top: 50px;
  }

  /* FULL PADD */

  .pad-large-full-0 {
    padding: 0;
  }

  .pad-large-full-1 {
    padding: 10px;
  }

  .pad-large-full-2 {
    padding: 20px;
  }

  .pad-large-full-3 {
    padding: 30px;
  }

  .pad-large-full-4 {
    padding: 40px;
  }

  .pad-large-full-5 {
    padding: 50px;
  }

  .mar-large-v-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mar-large-v-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mar-large-v-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mar-large-v-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mar-large-v-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .mar-large-v-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* HORIZONTAL MARGIN */
  .mar-large-h-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mar-large-h-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mar-large-h-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mar-large-h-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mar-large-h-4 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mar-large-h-5 {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* MARGIN RIGHT */

  .mar-large-right-0 {
    margin-right: 0;
  }

  .mar-large-right-1 {
    margin-right: 10px;
  }

  .mar-large-right-2 {
    margin-right: 20px;
  }

  .mar-large-right-3 {
    margin-right: 30px;
  }

  .mar-large-right-4 {
    margin-right: 40px;
  }

  .mar-large-right-5 {
    margin-right: 50px;
  }

  /* MARGIN LEFT */

  .mar-large-left-0 {
    margin-left: 0;
  }

  .mar-large-left-1 {
    margin-left: 10px;
  }

  .mar-large-left-2 {
    margin-left: 20px;
  }

  .mar-large-left-3 {
    margin-left: 30px;
  }

  .mar-large-left-4 {
    margin-left: 40px;
  }

  .mar-large-left-5 {
    margin-left: 50px;
  }

  /* MARGIN BOTTOM */

  .mar-large-bottom-0 {
    margin-bottom: 0;
  }

  .mar-large-bottom-1 {
    margin-bottom: 10px;
  }

  .mar-large-bottom-2 {
    margin-bottom: 20px;
  }

  .mar-large-bottom-3 {
    margin-bottom: 30px;
  }

  .mar-large-bottom-4 {
    margin-bottom: 40px;
  }

  .mar-large-bottom-5 {
    margin-bottom: 50px;
  }

  /* MARGIN TOP */

  .mar-large-top-0 {
    margin-top: 0;
  }

  .mar-large-top-1 {
    margin-top: 10px;
  }

  .mar-large-top-2 {
    margin-top: 20px;
  }

  .mar-large-top-3 {
    margin-top: 30px;
  }

  .mar-large-top-4 {
    margin-top: 40px;
  }

  .mar-large-top-5 {
    margin-top: 50px;
  }

  /* FULL MARGIN */

  .mar-large-full-0 {
    margin: 0;
  }

  .mar-large-full-1 {
    margin: 10px;
  }

  .mar-large-full-2 {
    margin: 20px;
  }

  .mar-large-full-3 {
    margin: 30px;
  }

  .mar-large-full-4 {
    margin: 40px;
  }

  .mar-large-full-5 {
    margin: 50px;
  }

  .f1-large {
    font-size: 0.7rem;
  }

  .f2-large {
    font-size: 1rem;
  }

  .f3-large {
    font-size: 1.3rem;
  }

  .f4-large {
    font-size: 1.6rem;
  }

  .f5-large {
    font-size: 1.9rem;
  }

  .full-w-large {
    width: 100%;
  }

  .med-w-large {
    width: 75%;
  }

  .small-w-large {
    width: 50%;
  }

  .tiny-w-large {
    width: 25%;
  }

  .normal-w-large {
    width: auto;
  }

  .full-h-large {
    height: 100%;
  }

  .med-h-large {
    height: 75%;
  }

  .small-h-large {
    height: 50%;
  }

  .tiny-h-large {
    height: 25%;
  }

  .normal-h-large {
    height: auto;
  }
}

@media (max-width: 720px) {
  .main-container {
    max-width: 720px;
  }

  .column-meddium-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .column-meddium-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }

  .column-meddium-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }

  .column-meddium-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .column-meddium-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%;
  }

  .column-meddium-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }

  .column-meddium-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .column-meddium-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }

  .column-meddium-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }

  .column-meddium-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .column-meddium-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }

  .column-meddium-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }

  .column-meddium-auto {
    width: auto;
    flex: 0 0 auto;
    max-width: 100%;
  }

  .jump-meddium-1 {
    margin-left: 8.3333333333%;
  }

  .jump-meddium-2 {
    margin-left: 16.6666666667%;
  }

  .jump-meddium-3 {
    margin-left: 25%;
  }

  .jump-meddium-4 {
    margin-left: 33.3333333333%;
  }

  .jump-meddium-5 {
    margin-left: 41.6666666667%;
  }

  .jump-meddium-6 {
    margin-left: 50%;
  }

  .jump-meddium-7 {
    margin-left: 58.3333333333%;
  }

  .jump-meddium-8 {
    margin-left: 66.6666666667%;
  }

  .jump-meddium-9 {
    margin-left: 75%;
  }

  .jump-meddium-10 {
    margin-left: 83.3333333333%;
  }

  .jump-meddium-11 {
    margin-left: 91.6666666667%;
  }

  .jump-meddium-12 {
    margin-left: 100%;
  }

  .display-meddium-none {
    display: none !important;
  }

  .display-meddium-inline {
    display: inline !important;
  }

  .display-meddium-inline-block {
    display: inline-block !important;
  }

  .display-meddium-block {
    display: block !important;
  }

  .flex-meddium {
    display: flex !important;
  }

  .flex-meddium-g0 {
    flex-grow: 0;
  }

  .flex-meddium-g1 {
    flex-grow: 1;
  }

  .flex-meddium-g2 {
    flex-grow: 2;
  }

  .flex-meddium-s1 {
    flex-shrink: 0;
  }

  .flex-meddium-s1 {
    flex-shrink: 1;
  }

  .flex-meddium-s1 {
    flex-shrink: 2;
  }

  .flex-meddium-w {
    flex-wrap: wrap;
  }

  .flex-meddium-nw {
    flex-wrap: nowrap;
  }

  .flex-meddium-row {
    flex-direction: row;
  }

  .flex-meddium-row-r {
    flex-direction: row-reverse;
  }

  .flex-meddium-col {
    flex-direction: column;
  }

  .flex-meddium-col-r {
    flex-direction: column-reverse;
  }

  .align-center-meddium {
    align-content: center;
  }

  .align-start-meddium {
    align-content: flex-start;
  }

  .align-end-meddium {
    align-content: flex-end;
  }

  .align-space-around-meddium {
    align-content: space-around;
  }

  .align-space-between-meddium {
    align-content: space-between;
  }

  .align-stretch-meddium {
    align-content: stretch;
  }

  .justify-center-meddium {
    justify-content: center;
  }

  .justify-start-meddium {
    justify-content: flex-start;
  }

  .justify-end-meddium {
    justify-content: flex-end;
  }

  .justify-space-around-meddium {
    justify-content: space-around;
  }

  .justify-space-between-meddium {
    justify-content: space-between;
  }

  .justify-stretch-meddium {
    justify-content: stretch;
  }

  .align-center-i-meddium {
    align-items: center;
  }

  .align-start-i-meddium {
    align-items: flex-start;
  }

  .align-end-i-meddium {
    align-items: flex-end;
  }

  .align-space-around-i-meddium {
    align-items: space-around;
  }

  .align-space-between-i-meddium {
    align-items: space-between;
  }

  .align-stretch-i-meddium {
    align-items: stretch;
  }

  .justify-center-i-meddium {
    justify-items: center;
  }

  .justify-start-i-meddium {
    justify-items: flex-start;
  }

  .justify-end-i-meddium {
    justify-items: flex-end;
  }

  .justify-space-around-i-meddium {
    justify-items: space-around;
  }

  .justify-space-between-i-meddium {
    justify-items: space-between;
  }

  .justify-stretch-i-meddium {
    justify-items: stretch;
  }

  .pad-meddium-v-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .pad-meddium-v-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pad-meddium-v-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pad-meddium-v-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pad-meddium-v-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pad-meddium-v-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* HORIZONTAL PADDING */
  .pad-meddium-h-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pad-meddium-h-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pad-meddium-h-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pad-meddium-h-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pad-meddium-h-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pad-meddium-h-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* PADDING RIGHT */

  .pad-meddium-right-0 {
    padding-right: 0;
  }

  .pad-meddium-right-1 {
    padding-right: 10px;
  }

  .pad-meddium-right-2 {
    padding-right: 20px;
  }

  .pad-meddium-right-3 {
    padding-right: 30px;
  }

  .pad-meddium-right-4 {
    padding-right: 40px;
  }

  .pad-meddium-right-5 {
    padding-right: 50px;
  }

  /* PADDING LEFT */

  .pad-meddium-left-0 {
    padding-left: 0;
  }

  .pad-meddium-left-1 {
    padding-left: 10px;
  }

  .pad-meddium-left-2 {
    padding-left: 20px;
  }

  .pad-meddium-left-3 {
    padding-left: 30px;
  }

  .pad-meddium-left-4 {
    padding-left: 40px;
  }

  .pad-meddium-left-5 {
    padding-left: 50px;
  }

  /* PADDING BOTTOM */

  .pad-meddium-bottom-0 {
    padding-bottom: 0 !important;
  }

  .pad-meddium-bottom-1 {
    padding-bottom: 10px !important;
  }

  .pad-meddium-bottom-2 {
    padding-bottom: 20px;
  }

  .pad-meddium-bottom-3 {
    padding-bottom: 30px;
  }

  .pad-meddium-bottom-4 {
    padding-bottom: 40px;
  }

  .pad-meddium-bottom-5 {
    padding-bottom: 50px;
  }

  /* PADDING TOP */

  .pad-meddium-top-0 {
    padding-top: 0 !important;
  }

  .pad-meddium-top-1 {
    padding-top: 10px;
  }

  .pad-meddium-top-2 {
    padding-top: 20px;
  }

  .pad-meddium-top-3 {
    padding-top: 30px;
  }

  .pad-meddium-top-4 {
    padding-top: 40px;
  }

  .pad-meddium-top-5 {
    padding-top: 50px;
  }

  /* FULL PADD */

  .pad-meddium-full-0 {
    padding: 0;
  }

  .pad-meddium-full-1 {
    padding: 10px;
  }

  .pad-meddium-full-2 {
    padding: 20px;
  }

  .pad-meddium-full-3 {
    padding: 30px;
  }

  .pad-meddium-full-4 {
    padding: 40px;
  }

  .pad-meddium-full-5 {
    padding: 50px;
  }

  .mar-meddium-v-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mar-meddium-v-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mar-meddium-v-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mar-meddium-v-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mar-meddium-v-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .mar-meddium-v-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* HORIZONTAL MARGIN */
  .mar-meddium-h-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mar-meddium-h-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mar-meddium-h-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mar-meddium-h-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mar-meddium-h-4 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mar-meddium-h-5 {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* MARGIN RIGHT */

  .mar-meddium-right-0 {
    margin-right: 0;
  }

  .mar-meddium-right-1 {
    margin-right: 10px;
  }

  .mar-meddium-right-2 {
    margin-right: 20px;
  }

  .mar-meddium-right-3 {
    margin-right: 30px;
  }

  .mar-meddium-right-4 {
    margin-right: 40px;
  }

  .mar-meddium-right-5 {
    margin-right: 50px;
  }

  /* MARGIN LEFT */

  .mar-meddium-left-0 {
    margin-left: 0;
  }

  .mar-meddium-left-1 {
    margin-left: 10px;
  }

  .mar-meddium-left-2 {
    margin-left: 20px;
  }

  .mar-meddium-left-3 {
    margin-left: 30px;
  }

  .mar-meddium-left-4 {
    margin-left: 40px;
  }

  .mar-meddium-left-5 {
    margin-left: 50px;
  }

  /* MARGIN BOTTOM */

  .mar-meddium-bottom-0 {
    margin-bottom: 0;
  }

  .mar-meddium-bottom-1 {
    margin-bottom: 10px;
  }

  .mar-meddium-bottom-2 {
    margin-bottom: 20px;
  }

  .mar-meddium-bottom-3 {
    margin-bottom: 30px;
  }

  .mar-meddium-bottom-4 {
    margin-bottom: 40px;
  }

  .mar-meddium-bottom-5 {
    margin-bottom: 50px;
  }

  /* MARGIN TOP */

  .mar-meddium-top-0 {
    margin-top: 0;
  }

  .mar-meddium-top-1 {
    margin-top: 10px;
  }

  .mar-meddium-top-2 {
    margin-top: 20px;
  }

  .mar-meddium-top-3 {
    margin-top: 30px;
  }

  .mar-meddium-top-4 {
    margin-top: 40px;
  }

  .mar-meddium-top-5 {
    margin-top: 50px;
  }

  /* FULL MARGIN */

  .mar-meddium-full-0 {
    margin: 0;
  }

  .mar-meddium-full-1 {
    margin: 10px;
  }

  .mar-meddium-full-2 {
    margin: 20px;
  }

  .mar-meddium-full-3 {
    margin: 30px;
  }

  .mar-meddium-full-4 {
    margin: 40px;
  }

  .mar-meddium-full-5 {
    margin: 50px;
  }

  .f1-meddium {
    font-size: 0.7rem;
  }

  .f2-meddium {
    font-size: 1rem;
  }

  .f3-meddium {
    font-size: 1.3rem;
  }

  .f4-meddium {
    font-size: 1.6rem;
  }

  .f5-meddium {
    font-size: 1.9rem;
  }

  .full-w-meddium {
    width: 100%;
  }

  .med-w-meddium {
    width: 75%;
  }

  .small-w-meddium {
    width: 50%;
  }

  .tiny-w-meddium {
    width: 25%;
  }

  .normal-w-meddium {
    width: auto;
  }

  .full-h-meddium {
    height: 100%;
  }

  .med-h-meddium {
    height: 75%;
  }

  .small-h-meddium {
    height: 50%;
  }

  .tiny-h-meddium {
    height: 25%;
  }

  .normal-h-meddium {
    height: auto;
  }
}

@media (max-width: 576px) {
  .main-container {
    max-width: 540px;
  }

  .column-small-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .column-small-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }

  .column-small-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }

  .column-small-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .column-small-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%;
  }

  .column-small-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }

  .column-small-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .column-small-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }

  .column-small-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }

  .column-small-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .column-small-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }

  .column-small-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }

  .column-small-auto {
    width: auto;
    flex: 0 0 auto;
    max-width: 100%;
  }

  .jump-small-1 {
    margin-left: 8.3333333333%;
  }

  .jump-small-2 {
    margin-left: 16.6666666667%;
  }

  .jump-small-3 {
    margin-left: 25%;
  }

  .jump-small-4 {
    margin-left: 33.3333333333%;
  }

  .jump-small-5 {
    margin-left: 41.6666666667%;
  }

  .jump-small-6 {
    margin-left: 50%;
  }

  .jump-small-7 {
    margin-left: 58.3333333333%;
  }

  .jump-small-8 {
    margin-left: 66.6666666667%;
  }

  .jump-small-9 {
    margin-left: 75%;
  }

  .jump-small-10 {
    margin-left: 83.3333333333%;
  }

  .jump-small-11 {
    margin-left: 91.6666666667%;
  }

  .jump-small-12 {
    margin-left: 100%;
  }

  .display-small-none {
    display: none !important;
  }

  .display-small-inline {
    display: inline !important;
  }

  .display-small-inline-block {
    display: inline-block !important;
  }

  .display-small-block {
    display: block !important;
  }

  .flex-small {
    display: flex !important;
  }

  .flex-small-g0 {
    flex-grow: 0;
  }

  .flex-small-g1 {
    flex-grow: 1;
  }

  .flex-small-g2 {
    flex-grow: 2;
  }

  .flex-small-s1 {
    flex-shrink: 0;
  }

  .flex-small-s1 {
    flex-shrink: 1;
  }

  .flex-small-s1 {
    flex-shrink: 2;
  }

  .flex-small-w {
    flex-wrap: wrap;
  }

  .flex-small-nw {
    flex-wrap: nowrap;
  }

  .flex-small-row {
    flex-direction: row;
  }

  .flex-small-row-r {
    flex-direction: row-reverse;
  }

  .flex-small-col {
    flex-direction: column;
  }

  .flex-small-col-r {
    flex-direction: column-reverse;
  }

  .align-center-small {
    align-content: center;
  }

  .align-start-small {
    align-content: flex-start;
  }

  .align-end-small {
    align-content: flex-end;
  }

  .align-space-around-small {
    align-content: space-around;
  }

  .align-space-between-small {
    align-content: space-between;
  }

  .align-stretch-small {
    align-content: stretch;
  }

  .justify-center-small {
    justify-content: center;
  }

  .justify-start-small {
    justify-content: flex-start;
  }

  .justify-end-small {
    justify-content: flex-end;
  }

  .justify-space-around-small {
    justify-content: space-around;
  }

  .justify-space-between-small {
    justify-content: space-between;
  }

  .justify-stretch-small {
    justify-content: stretch;
  }

  .align-center-i-small {
    align-items: center;
  }

  .align-start-i-small {
    align-items: flex-start;
  }

  .align-end-i-small {
    align-items: flex-end;
  }

  .align-space-around-i-small {
    align-items: space-around;
  }

  .align-space-between-i-small {
    align-items: space-between;
  }

  .align-stretch-i-small {
    align-items: stretch;
  }

  .justify-center-i-small {
    justify-items: center;
  }

  .justify-start-i-small {
    justify-items: flex-start;
  }

  .justify-end-i-small {
    justify-items: flex-end;
  }

  .justify-space-around-i-small {
    justify-items: space-around;
  }

  .justify-space-between-i-small {
    justify-items: space-between;
  }

  .justify-stretch-i-small {
    justify-items: stretch;
  }

  .pad-small-v-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pad-small-v-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pad-small-v-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pad-small-v-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pad-small-v-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pad-small-v-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* HORIZONTAL PADDING */
  .pad-small-h-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pad-small-h-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pad-small-h-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pad-small-h-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pad-small-h-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pad-small-h-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* PADDING RIGHT */

  .pad-small-right-0 {
    padding-right: 0;
  }

  .pad-small-right-1 {
    padding-right: 10px;
  }

  .pad-small-right-2 {
    padding-right: 20px;
  }

  .pad-small-right-3 {
    padding-right: 30px;
  }

  .pad-small-right-4 {
    padding-right: 40px;
  }

  .pad-small-right-5 {
    padding-right: 50px;
  }

  /* PADDING LEFT */

  .pad-small-left-0 {
    padding-left: 0;
  }

  .pad-small-left-1 {
    padding-left: 10px;
  }

  .pad-small-left-2 {
    padding-left: 20px;
  }

  .pad-small-left-3 {
    padding-left: 30px;
  }

  .pad-small-left-4 {
    padding-left: 40px;
  }

  .pad-small-left-5 {
    padding-left: 50px;
  }

  /* PADDING BOTTOM */

  .pad-small-bottom-0 {
    padding-bottom: 0;
  }

  .pad-small-bottom-1 {
    padding-bottom: 10px;
  }

  .pad-small-bottom-2 {
    padding-bottom: 20px;
  }

  .pad-small-bottom-3 {
    padding-bottom: 30px;
  }

  .pad-small-bottom-4 {
    padding-bottom: 40px;
  }

  .pad-small-bottom-5 {
    padding-bottom: 50px;
  }

  /* PADDING TOP */

  .pad-small-top-0 {
    padding-top: 0;
  }

  .pad-small-top-1 {
    padding-top: 10px;
  }

  .pad-small-top-2 {
    padding-top: 20px;
  }

  .pad-small-top-3 {
    padding-top: 30px;
  }

  .pad-small-top-4 {
    padding-top: 40px;
  }

  .pad-small-top-5 {
    padding-top: 50px;
  }

  /* FULL PADD */

  .pad-small-full-0 {
    padding: 0;
  }

  .pad-small-full-1 {
    padding: 10px;
  }

  .pad-small-full-2 {
    padding: 20px;
  }

  .pad-small-full-3 {
    padding: 30px;
  }

  .pad-small-full-4 {
    padding: 40px;
  }

  .pad-small-full-5 {
    padding: 50px;
  }

  .mar-small-v-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mar-small-v-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mar-small-v-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mar-small-v-3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mar-small-v-4 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .mar-small-v-5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* HORIZONTAL MARGIN */
  .mar-small-h-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mar-small-h-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mar-small-h-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mar-small-h-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mar-small-h-4 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mar-small-h-5 {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* MARGIN RIGHT */

  .mar-small-right-0 {
    margin-right: 0;
  }

  .mar-small-right-1 {
    margin-right: 10px;
  }

  .mar-small-right-2 {
    margin-right: 20px;
  }

  .mar-small-right-3 {
    margin-right: 30px;
  }

  .mar-small-right-4 {
    margin-right: 40px;
  }

  .mar-small-right-5 {
    margin-right: 50px;
  }

  /* MARGIN LEFT */

  .mar-small-left-0 {
    margin-left: 0;
  }

  .mar-small-left-1 {
    margin-left: 10px;
  }

  .mar-small-left-2 {
    margin-left: 20px;
  }

  .mar-small-left-3 {
    margin-left: 30px;
  }

  .mar-small-left-4 {
    margin-left: 40px;
  }

  .mar-small-left-5 {
    margin-left: 50px;
  }

  /* MARGIN BOTTOM */

  .mar-small-bottom-0 {
    margin-bottom: 0;
  }

  .mar-small-bottom-1 {
    margin-bottom: 10px;
  }

  .mar-small-bottom-2 {
    margin-bottom: 20px;
  }

  .mar-small-bottom-3 {
    margin-bottom: 30px;
  }

  .mar-small-bottom-4 {
    margin-bottom: 40px;
  }

  .mar-small-bottom-5 {
    margin-bottom: 50px;
  }

  /* MARGIN TOP */

  .mar-small-top-0 {
    margin-top: 0;
  }

  .mar-small-top-1 {
    margin-top: 10px;
  }

  .mar-small-top-2 {
    margin-top: 20px;
  }

  .mar-small-top-3 {
    margin-top: 30px;
  }

  .mar-small-top-4 {
    margin-top: 40px;
  }

  .mar-small-top-5 {
    margin-top: 50px;
  }

  /* FULL MARGIN */

  .mar-small-full-0 {
    margin: 0;
  }

  .mar-small-full-1 {
    margin: 10px;
  }

  .mar-small-full-2 {
    margin: 20px;
  }

  .mar-small-full-3 {
    margin: 30px;
  }

  .mar-small-full-4 {
    margin: 40px;
  }

  .mar-small-full-5 {
    margin: 50px;
  }

  .f1-small {
    font-size: 0.7rem;
  }

  .f2-small {
    font-size: 1rem;
  }

  .f3-small {
    font-size: 1.3rem;
  }

  .f4-small {
    font-size: 1.6rem;
  }

  .f5-small {
    font-size: 1.9rem;
  }

  .full-w-small {
    width: 100%;
  }

  .med-w-small {
    width: 75%;
  }

  .small-w-small {
    width: 50%;
  }

  .tiny-w-small {
    width: 25%;
  }

  .normal-w-small {
    width: auto;
  }

  .full-h-small {
    height: 100%;
  }

  .med-h-small {
    height: 75%;
  }

  .small-h-small {
    height: 50%;
  }

  .tiny-h-small {
    height: 25%;
  }

  .normal-h-small {
    height: auto;
  }
}

/* END */
